.root{
    -fx-font-size: 12pt;
    -fx-font-family: "Arial";
    -fx-base: lightblue;
    -fx-background:aliceblue;
    -fx-background-insets:10.0px;
}

.label {
	-fx-text-alignment:center ;	
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

GridPane {
	-fx-hgap:10.0;
	-fx-vgap:15.0;
	/*-fx-grid-lines-visible:true ;*/
	-fx-background-insets:20;
}

/*VBox {
	-fx-spacing:40;
}*/

/*HBox {
	-fx-spacing:30;
}*/

